@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit&display=swap');

* {
    font-family: "Outfit", sans-serif;
    ;
    box-sizing: border-box;
    margin: 0;
    color: white;
}

header {
    background-color: #17192B;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #262947;
}

header img {
    width: 150px;
}

header div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}

.bell:hover {
    /* border: solid 10px #292B3C; */
    background-color: #292B3C;
    border-radius: 50%;
}

.user {
    cursor: pointer;
    font-size: 2.5em;
    color: #8ca3ba;
    margin-left: 0.5em;
}

main {
    background-color: #0F101C;
    padding: 85px;
}

#circle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recap {
    display: flex;
    justify-content: space-evenly;
    background-color: #17192B;
    padding: 15px;
    border-radius: 7px;
    margin-top: 50px;
}

#recap div {
    display: flex;
    flex-direction: column;
}

#recap div h6 {
    color: #7D7F81;
}

#recap div h2 {
    margin-top: 10px;
}

hr {
    border-color: #2F4365;
}

#supercontainer {
    display: flex;
    margin-top: 20px;
}

.argument {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
    border: solid 1px #7D7F91;
    border-radius: 3px;
    color: #7D7F91;
    padding-right: 10px;
    align-items: center;
}

.correct {
    color: #66bb6a;
    padding-right: 10px;
}

.incorrect {
    color: #f44336;
    padding-right: 10px;
}

.resultQuiz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
}

.question {
    display: flex;
    margin: 0 10px;
}

.number {
    padding-right: 10px;
}

.answer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}