* {
  margin-left: 5%;
}
body {
  background-image: url(bw1/assets/bg.jpg);
  background-repeat: no-repeat;
}
.top img {
  margin-top: 3em;
  width: 150px;
}

main {
  color: white;
}
main h1:first-child {
 font-size: 3em;
  padding: 0%;
}
main span {
  padding: 0%;
  display: block;
  margin: auto;
}
