* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin-left: 10%;
  margin-right: 10%;
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.top img {
  margin-top: 3em;
  width: 150px;
}

main {
  color: white;
}
main p:first-child {
  font-size: 5em;
  font-weight: 100;
  margin-bottom: 0.5em;
}
main span {
  display: block;
  font-size: 4rem;
  margin-top: 0%;
  font-weight: 600;
}
.instruction{
  width: 80%;
}
.instruction p:nth-child(2){
  width: 80%;
}
.instruction ul{
  padding: 2em;
}
.instruction p:first-child{
  color:#d20094;
  font-size: large;
}

footer {
  color: white;
  display: flex;
  justify-content: space-between;
}
.firstButton, .continue{
  display: flex;
}
button{
  font-weight: 600;
  font-size: larger;
  width: 10em;
  background-color: aqua;
  border: 0px;
}
